<div class="me-2">
  <span class="flex items-center gap-2 text-sm font-medium <%= text_class %>  pb-2">
    <svg class="w-6 h-6 <%= text_class %> aria-hidden=" true " xmlns=" http: www.w3.org 2000 svg " width=" 24 " height=" 24 " fill=" none " viewBox=" 0 0 24 24 ">
      <path stroke=" currentColor " stroke-linecap=" round " stroke-linejoin=" round " stroke-width=" 2 " d=" M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8 "/>
    </svg>
    <%= message.attachment.name %>
  </span>
</div>
<div class=" inline-flex self-center items-center ">
  <%= link_to message.attachment.file_url, data: { turbo: false }, target: :blank, class: "inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-600 dark:hover:bg-gray-500 dark:focus:ring-gray-600" do %>
    <svg class=" w-4 h-4 text-gray-900 dark:text-white " aria-hidden=" true " xmlns=" http: www.w3.org 2000 svg " fill=" currentColor " viewBox=" 0 0 20 20 ">
      <path d=" M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z "></path>
      <path d=" M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z "></path>
    </svg>
  <% end %>
</div>
