<div class="flex flex-col w-full max-w-[326px">
  <div class="group relative my-2.5">
    <div class="absolute w-full h-full bg-gray-900/50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg flex items-center justify-center">
      <%= link_to message.attachment.file_url, target: :blank, class: "inline-flex items-center justify-center rounded-full h-10 w-10 bg-white/30 hover:bg-white/50 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50" do %>
        <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3" />
        </svg>
      <% end %>
    </div>
    <%= image_tag message.attachment.file_url, class: "rounded-lg max-h-40" %>
  </div>
  <% if message.message.present? %>
    <p class="text-sm font-normal text-gray-900"><%= message.message %></p>
  <% end %>
</div>
